#chessboard {
    margin: auto;
    padding: 10px;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;

  }

.button{
  margin: auto;
  padding: 4px;
  display: flex;
}
  
  .square {
    width: 60px;
    height: 60px;
  }
  
  
  
.square svg{
  height: 56px;
  width: 56px;
  margin: 2px;
  position: relative;
  z-index: -9

}

path{
  position: relative;
  z-index: -10;
}

.piece{
  position: relative;
  z-index: 10;

}

.light {
  background-color: rgb(75, 132, 218);
}

  .dark {
    background-color: rgb(54, 59, 59);
  }

  .black{
    fill: rgb(0, 0, 0);
  }
  .white{
    fill: rgb(240, 208, 160);
  }