<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Chessboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="chessboard"></div>
    <p><span id = "player"></span> </p>
    <p id="info-display"></p>
    <script type = "text/javascript" src = "board.json"></script>
    <script type = "text/javascript" th:src="@{js/script.js}"></script>
    
</body>
</html>